# no indent tab check for Makefiles
/bootstrap -hook-indent-tabs
**/Makefile* -hook-indent-tabs
**/*.am -hook-indent-tabs
**/*.s.in -hook-indent-tabs
**/*.eps binary
**/*.pdf binary
**/*.svg binary
# Unmodified download from http://www.fftw.org/cycle.h for reference. Extracts will be used for timer implementation.
/src/services/timer/cycle.h -hook-beautifier
# Function envelop missing on purpose.
/src/services/timer/scorep_timer_tsc.inc.c -hook-beautifier
# need to close a @note section before including `scorep-info config-vars` output
/doc/doxygen-user/main_7.dox.in -hook-trailing-nl
# example code
/doc/examples/hello_world.c -hook-config
# Plugins do not need config.h
/doc/examples/print_regions.c -hook-config
# No compilation units:
/src/adapters/compiler/scorep_compiler_confvars.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_event_cyg_profile_func.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_event_func_addr_hash.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_event_func_trace.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_event_gcc_plugin.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_event_vt_intel.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_gnu.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_mgmt_func_addr_hash.inc.c -hook-config
/src/adapters/compiler/scorep_compiler_mgmt_gcc_plugin.inc.c -hook-config
/src/adapters/cuda/scorep_cuda_confvars.inc.c -hook-config
/src/adapters/hip/scorep_hip_confvars.inc.c -hook-config
/src/adapters/kokkos/scorep_kokkos_confvars.inc.c -hook-config
/src/adapters/memory/scorep_memory_confvars.inc.c -hook-config
/src/adapters/mpi/scorep_mpi_confvars.inc.c -hook-config
/src/adapters/ompt/scorep_ompt_debug.inc.c -hook-config
/src/adapters/ompt/scorep_ompt_events_device.inc.c -hook-config
/src/adapters/ompt/scorep_ompt_events_host.inc.c -hook-config
/src/adapters/ompt/scorep_ompt_mutex.inc.c -hook-config
/src/adapters/ompt/scorep_ompt_regions.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_function_list.inc -hook-beautifier -hook-config
/src/adapters/opencl/scorep_opencl_confvars.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_1_0.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_1_1.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_1_2.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_2_0.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_2_1.inc.c -hook-config
/src/adapters/opencl/scorep_opencl_wrap_version_2_2.inc.c -hook-config
/src/adapters/shmem/scorep_shmem_confvars.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_atomic.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_broadcast.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_cache.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_collect.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_data.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_event.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_init.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_lock.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_query.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_reduction.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_remote_ptr.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_sym_heap.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_sync.inc.c -hook-config
/src/adapters/shmem/fortran_common/scorep_fshmem_team.inc.c -hook-config
/src/measurement/filtering/scorep_filtering_confvars.inc.c -hook-config
/src/measurement/profiling/scorep_profile_confvars.inc.c -hook-config
/src/measurement/substrates/scorep_substrates_plugins_confvars.inc.c -hook-config
/src/measurement/tracing/scorep_tracing_confvars.inc.c -hook-config
/src/services/metric/scorep_metric_papi_confvars.inc.c -hook-config
/src/services/metric/scorep_metric_rusage_confvars.inc.c -hook-config
/src/services/timer/scorep_timer_confvars.inc.c -hook-config
/src/services/timer/scorep_timer_tsc.inc.c -hook-config
# test file compiled with scorep
/test/adapters/cuda/cuda_test.cu -hook-config
# test file compiled with scorep
/test/adapters/user/C++/user_test.cpp -hook-config
# test file compiled with scorep
/test/adapters/user/C/scorep_phase_test.c -hook-config
# test source file
/test/jacobi/MPI/C/jacobi.c -hook-config
# test source file
/test/jacobi/MPI/C/main.c -hook-config
# pomp.c is automaticaly generated for jacobi test and needs no config.h
/test/jacobi/OpenMP/C++/pomp.c -hook-config
# test source file
/test/jacobi/OpenMP/C/jacobi.c -hook-config
# test source file
/test/jacobi/OpenMP/C/main.c -hook-config
# pomp.c file is generated by opari2-config without config.h
/test/jacobi/OpenMP/C/pomp.c -hook-config
# pomp.c is automatically generated and needs no config.h
/test/jacobi/OpenMP/Fortran/pomp.c -hook-config
# examle file that does not need config.h
/test/jacobi/hybrid/C++/jacobi.mod.cpp -hook-config
# examle file that does not need config.h
/test/jacobi/hybrid/C++/main.mod.cpp -hook-config
# pomp.c is automaticaly generated for jacobi test and needs no config.h
/test/jacobi/hybrid/C++/pomp.c -hook-config
# test source file
/test/jacobi/hybrid/C/jacobi.c -hook-config
# examle file that does not need config.h
/test/jacobi/hybrid/C/jacobi.mod.c -hook-config
# test source file
/test/jacobi/hybrid/C/main.c -hook-config
# examle file that does not need config.h
/test/jacobi/hybrid/C/main.mod.c -hook-config
# pomp.c file is generated by opari2-config without config.h
/test/jacobi/hybrid/C/pomp.c -hook-config
# pomp.c is automatically generated and needs no config.h
/test/jacobi/hybrid/Fortran/pomp.c -hook-config
# test source file
/test/jacobi/serial/C/jacobi.c -hook-config
# test source file
/test/jacobi/serial/C/main.c -hook-config
# examle file that does not need config.h
/test/mpi_omp/mpi_omp_hello_world.mod.c -hook-config
# test file compiled with scorep
/test/mpi_omp/mpi_omp_metric_collection_test.c -hook-config
# pomp.c files are generated automatically without config.h header and they don'd need it
/test/mpi_omp/pomp.c -hook-config
# pomp.c files are generated automatically without config.h header and they don'd need it
/test/omp/pomp.c -hook-config
# pomp.c files are generated automatically without config.h header and they don'd need it
/test/omp/pomp_nested.c -hook-config
# Acts as generated file.
/test/omp_tasks/omp_tasks.pomp.c -hook-config
# test file compiled with scorep
/test/omp_tasks/task_fibonacci.c -hook-config
# test file compiled with scorep
/test/omp_tasks/task_single_loop.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_MetricPlugins.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_MetricPlugins.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_MetricTypes.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_MetricTypes.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_PublicHandles.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_PublicHandles.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_PublicTypes.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_PublicTypes.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_SubstrateEvents.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_SubstrateEvents.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_SubstratePlugins.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_SubstratePlugins.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_Tau.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_Tau.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Functions.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Functions.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Types.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Types.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Variables.c -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_SCOREP_User_Variables.cpp -hook-config
# tests installed headers
/test/public_headers/self_contained_public_header_pomp_lib.c -hook-config
# pomp.c file is generated by opari2-config without config.h
/test/services/metric/data/jacobi/OpenMP/C/pomp.c -hook-config
# pomp.c file is generated by opari2-config without config.h
/test/services/metric/data/jacobi/hybrid/C/pomp.c -hook-config
# Test file
/test/shmem/shmem_hello_world.c -hook-config
# Test file
/test/filtering/compiler_filter_test.cpp -hook-config
# Makefile input file
/test/constructor_checks/generate_makefile.sh.in -hook-indent-tabs
# based on CUDA jacobi (sources not listed here, because of .cu extension)
/test/instrumenter_checks/hip/src/jacobi/cxx/kernel.cpp -hook-beautifier -hook-config
/test/instrumenter_checks/hip/src/jacobi/cxx/main.cpp -hook-beautifier -hook-config
/test/instrumenter_checks/hip/src/jacobi/cxx/definitions.h -hook-beautifier
# imported form ORNL
/test/instrumenter_checks/shmem_omp/src/heat/cc/heat.c -hook-beautifier
/test/instrumenter_checks/shmem/src/heat/cc/heat.c -hook-beautifier
# contains Makefile snippet
/build-config/m4/scorep_sampling.m4 -hook-indent-tabs
# test files
/test/tools/libwrap_init/target-lib-c/foo.c -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-c/foo.h -hook-beautifier
/test/tools/libwrap_init/target-lib-c/foo2.h -hook-beautifier
/test/tools/libwrap_init/target-lib-cc/foo.cc -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-cc/foo.h -hook-beautifier
/test/tools/libwrap_init/target-lib-cdeps/bar.c -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-cdeps/bar2.c -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-cdeps/bar.h -hook-beautifier
/test/tools/libwrap_init/target-lib-mpi/foo.c -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-mpi/foo.h -hook-beautifier
/test/tools/libwrap_init/target-lib-shmem/foo.c -hook-beautifier -hook-config
/test/tools/libwrap_init/target-lib-shmem/foo.h -hook-beautifier
