
/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief Fortran interface wrappers for miscellaneous and handler conversion
 *        functions
 */

#include <config.h>
#include "SCOREP_Fmpi.h"

#include <UTILS_Debug.h>

/* uppercase defines */
#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c+!n_mem+!nddress) skel/SCOREP_Fmpi_DefineU.w

/* lowercase defines */
#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c+!n_mem+!nddress) skel/SCOREP_Fmpi_DefineL.w

/**
 * @name Fortran wrappers
 * @{
 */

#ifndef NEED_F2C_CONV

/* If MPI_Comm_f2c is HAVE as a simple macro (which typically does nothing)
 * as it would require a "real" function if it is really needed
 * => we can save the f2c and c2s conversions */

#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c+!n_mem+!nddress) skel/SCOREP_Fmpi_Std.w

#else /* !NEED_F2C_CONV */

#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c+!n_mem+!nddress) skel/SCOREP_Mpi_F2c_C2f.w

#endif

/**
 * @}
 */
