
/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief Fortran interface wrappers for parallel I/O
 */

#include <config.h>
/* We do wrap deprecated functions here, but we don't want warnings */
#define OMPI_WANT_MPI_INTERFACE_WARNING 0
#include "SCOREP_Fmpi.h"

/* lowercase defines */
#pragma wrapgen multiple restrict(gio)      skel/SCOREP_Fmpi_DefineL.w

#pragma wrapgen multiple restrict(gio_misc+!n_c2f+!n_f2c) skel/SCOREP_Fmpi_DefineL.w

/* uppercase defines */
#pragma wrapgen multiple restrict(gio)      skel/SCOREP_Fmpi_DefineU.w

#pragma wrapgen multiple restrict(gio_misc+!n_c2f+!n_f2c) skel/SCOREP_Fmpi_DefineU.w

/**
 * @}
 * @name Fortran wrappers for administrative functions
 * @{
 */

#pragma wrapgen multiple regex(MPI_File.*(open|close|delete|preallocate|get_[abgipstv]|set_[abgipstv]|seek|sync).*) skel/SCOREP_Mpi_F2c_C2f.w
#pragma wrapgen single MPI_Register_datarep skel/SCOREP_Mpi_F2c_C2f.w


/**
 * @}
 * @name Fortran wrappers for access functions
 * @{
 */

#pragma wrapgen multiple regex(MPI_File.*(read|write).*$)  skel/SCOREP_Mpi_F2c_C2f.w

/**
 * @}
 * @name Fortran wrappers for error handling functions
 * @{
 */
/* Do not wrap group io_err */

/**
 * @}
 * @name Fortran wrappers for handle conversion functions
 * @{
 */

#pragma wrapgen multiple restrict(gio_misc+!n_c2f+!n_f2c) skel/SCOREP_Mpi_F2c_C2f.w

/**
 * @}
 */
