/**
 * @file  SCOREP_Mpi_Err.c
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for error handling
 */

#include <config.h>
#include "SCOREP_Mpi.h"
#include <SCOREP_Events.h>

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gerr) skel/SCOREP_Mpi_Std.w

/**
 * @}
 */
