/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief Registration of MPI regions
 */

#include <config.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <strings.h>

/* We do wrap deprecated functions here, but we don't want warnings */
#define OMPI_WANT_MPI_INTERFACE_WARNING 0
#include "SCOREP_Mpi.h"

/* Placeholder for MPI functions which are not communicative */
#define SCOREP_REGION_NONE SCOREP_REGION_FUNCTION

/** Region IDs of MPI functions */
SCOREP_RegionHandle scorep_mpi_regions[SCOREP_MPI_NUM_REGIONS];

/**
 * Register MPI functions and initialize data structures
 */
void scorep_mpi_register_regions( void )
{
  /* Define source file handle for MPI functions */
  SCOREP_SourceFileHandle file_id = SCOREP_Definitions_NewSourceFile("MPI");

#pragma wrapgen multiple restrict() skel/SCOREP_Mpi_RegC.w

  /* Artificial root for MPI-only experiments when no user-code
   * instrumenation is available */
  scorep_mpi_regions[SCOREP_MPI_REGION__PARALLEL] =
      SCOREP_Definitions_NewRegion("PARALLEL",
      			           NULL,
				   SCOREP_INVALID_SOURCE_FILE,
				   SCOREP_INVALID_LINE_NO,
                                   SCOREP_INVALID_LINE_NO,
				   SCOREP_PARADIGM_MPI,
				   SCOREP_REGION_ARTIFICIAL);
}

