/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for error handling
 */

#include <config.h>
#include "SCOREP_Mpi.h"
#include <SCOREP_RuntimeManagement.h>
#include <SCOREP_InMeasurement.h>
#include <SCOREP_Events.h>

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gerr+!nMPI_Add_error_string) skel/SCOREP_Mpi_Std.w

#pragma wrapgen single MPI_Add_error_string skel/SCOREP_Mpi_StdWithProto.w

/**
 * @}
 */
