/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for topologies
 */

#include <config.h>

/* We do wrap deprecated functions here, but we don't want warnings */
#define OMPI_WANT_MPI_INTERFACE_WARNING 0
#include "SCOREP_Mpi.h"
#include "scorep_mpi_communicator.h"
#include <UTILS_Error.h>
#include <SCOREP_InMeasurement.h>
#include <SCOREP_Events.h>

/**
 * @name C wrappers
 * @{
 */

#if HAVE(DECL_PMPI_CART_CREATE)
/**
 * Measurement wrapper for MPI_Cart_create
 * @note Manually adapted wrapper
 * @note C interface
 * @note Introduced with MPI-1
 * @ingroup topo
 * Sequence of events:
 * @li enter region 'MPI_Cart_create'
 * @li define communicator
 * @li define topology
 * @li define coordinates
 * @li exit region 'MPI_Cart_create'
 */
int MPI_Cart_create( MPI_Comm                   comm_old,
                     int                        ndims,
                     SCOREP_MPI_CONST_DECL int* dims,
                     SCOREP_MPI_CONST_DECL int* periodv,
                     int                        reorder,
                     MPI_Comm*                  comm_cart)
{
  SCOREP_IN_MEASUREMENT_INCREMENT();
  const int32_t event_gen_active = SCOREP_MPI_IS_EVENT_GEN_ON_FOR(SCOREP_MPI_ENABLED_TOPO);
  int32_t       return_val;

  if (event_gen_active)
  {
    SCOREP_MPI_EVENT_GEN_OFF();
    SCOREP_EnterWrappedRegion(scorep_mpi_regions[SCOREP_MPI_REGION__MPI_CART_CREATE],
                              ( intptr_t )PMPI_Cart_create);
  }

  if (event_gen_active)
  {
    SCOREP_ENTER_WRAPPED_REGION();
  }
  return_val = PMPI_Cart_create(comm_old, ndims, dims, periodv, reorder, comm_cart);
  if (event_gen_active)
  {
    SCOREP_EXIT_WRAPPED_REGION();
  }

  if (*comm_cart != MPI_COMM_NULL)
  {
    SCOREP_MPICartesianTopologyHandle topid = SCOREP_INVALID_CART_TOPOLOGY;
    SCOREP_InterimCommunicatorHandle cid;
    int32_t   my_rank, i;
    int32_t*  coordv;
    uint8_t*  uperiodv;
    uint32_t* udimv;
    uint32_t* ucoordv;

    /* register the new topology communicator */
    scorep_mpi_comm_create(*comm_cart, comm_old);

    /* get the internal comminicator id for the communicator of the new topology */
    cid = scorep_mpi_comm_handle(*comm_cart);

    /* find the rank of the calling process */
    PMPI_Comm_rank(*comm_cart, &my_rank);

    /* assign the cartesian topology dimension parameters */
    udimv   = calloc(ndims, sizeof(uint32_t));
    if (!udimv)
    {
      UTILS_ERROR_POSIX();
    }

    uperiodv = calloc(ndims, sizeof(uint8_t));
    if (!uperiodv)
    {
      UTILS_ERROR_POSIX();
    }

    for (i = 0 ; i < ndims ; i++)
    {
      udimv[i]    =  (uint32_t) dims[i];
      uperiodv[i] =  (uint8_t)  periodv[i];
    }

    /* create the cartesian topology definition record */
    topid = SCOREP_Definitions_NewMPICartesianTopology("", cid, ndims, udimv, uperiodv);

     /* allocate space for coordv and ucoordv */
    coordv = calloc(ndims, sizeof(int));
    if (!coordv)
    {
      UTILS_ERROR_POSIX();
    }

    ucoordv = calloc(ndims, sizeof(uint32_t));
    if (!ucoordv)
    {
      UTILS_ERROR_POSIX();
    }

    /* get the coordinates of the calling process in coordv */
    PMPI_Cart_coords(*comm_cart, my_rank, ndims, coordv);

    /* assign the coordinates */
    for ( i = 0 ; i < ndims ; i++ )
    {
      ucoordv[i] = (uint32_t) coordv[i];
    }

    /* create the coordinates definition record */
    SCOREP_Definitions_NewMPICartesianCoords(topid, ndims, ucoordv);

    free(udimv);
    free(uperiodv);
    free(ucoordv);
  }

  if (event_gen_active)
  {
    SCOREP_ExitRegion(scorep_mpi_regions[SCOREP_MPI_REGION__MPI_CART_CREATE]);
    SCOREP_MPI_EVENT_GEN_ON();
  }
  SCOREP_IN_MEASUREMENT_DECREMENT();

  return return_val;
}
#endif

#pragma wrapgen single MPI_Cart_sub skel/SCOREP_Mpi_CommMgnt.w
#pragma wrapgen single MPI_Graph_create skel/SCOREP_Mpi_CommMgnt.w

#pragma wrapgen single MPI_Dist_graph_create skel/SCOREP_Mpi_CommMgnt.w
#pragma wrapgen single MPI_Dist_graph_create_adjacent skel/SCOREP_Mpi_CommMgnt.w

#pragma wrapgen multiple restrict(gtopo+!ncreate+!nsub) skel/SCOREP_Mpi_Std.w
#pragma wrapgen single MPI_Dims_create skel/SCOREP_Mpi_Std.w

/**
 * @}
 */
