/**
 * @file       SCOREP_Mpi_Misc.c
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for miscelaneous and handler conversion
 *        functions
 */

#include <config.h>
#include "SCOREP_Mpi.h"
#include <SCOREP_Events.h>

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c+!n_Info) skel/SCOREP_Mpi_Std.w

#pragma wrapgen multiple restrict(gmisc+n_Info+!nMPI_Info_delete+!nMPI_Info_get+!nMPI_Info_get_valuelen+!nMPI_Info_set) skel/SCOREP_Mpi_Std.w

#pragma wrapgen single MPI_Info_delete skel/SCOREP_Mpi_CompliantStd.w

#pragma wrapgen single MPI_Info_get skel/SCOREP_Mpi_CompliantStd.w

#pragma wrapgen single MPI_Info_get_valuelen skel/SCOREP_Mpi_CompliantStd.w

#pragma wrapgen single MPI_Info_set skel/SCOREP_Mpi_CompliantStd.w

/**
 * @}
 */
