/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for datatype functions
 */

#include <config.h>
#include "SCOREP_Mpi.h"
#include <SCOREP_Events.h>

/**
 * @name C wrappers for general functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype+!nf90) skel/SCOREP_Mpi_Std.w

#pragma wrapgen multiple restrict(gtype+nf90) skel/SCOREP_Mpi_StdCompl.w 

/**
 * @}
 * @name C wrappers for external interface functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_ext)          skel/SCOREP_Mpi_Std.w

/**
 * @}
 * @name C wrappers for handle conversion functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_misc+!n_c2f+!n_f2c) skel/SCOREP_Mpi_Std.w

/**
 * @}
 */
