/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for collective communication
 */

#include <config.h>
#include "SCOREP_Mpi.h"
#include "scorep_mpi_communicator.h"
#include <SCOREP_RuntimeManagement.h>
#include <SCOREP_InMeasurement.h>
#include <SCOREP_Events.h>

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gcoll+!nReduce_local+!nMPI_I) skel/SCOREP_Mpi_Coll.w

#pragma wrapgen multiple restrict(gcoll+!nReduce_local+nMPI_I) skel/SCOREP_Mpi_Std.w

#pragma wrapgen single MPI_Reduce_local skel/SCOREP_Mpi_Std.w
/**
 * @}
 */
