/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for datatype functions
 */

#include <config.h>

/* We do wrap deprecated functions here, but we don't want warnings */
#define OMPI_WANT_MPI_INTERFACE_WARNING 0
#include "SCOREP_Mpi.h"
#include <SCOREP_InMeasurement.h>
#include <SCOREP_Events.h>

/**
 * @name C wrappers for general functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype+!nf90+!nMPI_Type_hindexed+!nMPI_Type_struct) skel/SCOREP_Mpi_Std.w

#pragma wrapgen single MPI_Type_hindexed skel/SCOREP_Mpi_StdWithProto.w

#pragma wrapgen single MPI_Type_struct skel/SCOREP_Mpi_StdWithProto.w

#pragma wrapgen multiple restrict(gtype+nf90) skel/SCOREP_Mpi_StdCompl.w

/**
 * @}
 * @name C wrappers for external interface functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_ext)          skel/SCOREP_Mpi_Std.w

/**
 * @}
 * @name C wrappers for handle conversion functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_misc+!n_c2f+!n_f2c) skel/SCOREP_Mpi_Std.w

/**
 * @}
 */
