/**
 * @file       SCOREP_Mpi_Misc.c
 * @maintainer Daniel Lorenz <d.lorenz@fz-juelich.de>
 * @status     alpha
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for miscelaneous and handler conversion
 *        functions
 */

#include <config.h>
#include "SCOREP_Mpi.h"

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c) skel/SCOREP_Mpi_Std.w

/**
 * @}
 */
