/**
 * @file
 * @ingroup    MPI_Wrapper
 *
 * @brief Registration of MPI regions
 */

#include <config.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <strings.h>

#include "SCOREP_Mpi.h"

#include <SCOREP_RuntimeManagement.h>

/* Placeholder for MPI functions which are not communicative */
#define SCOREP_REGION_NONE SCOREP_REGION_FUNCTION

/** Region IDs of MPI functions */
SCOREP_RegionHandle scorep_mpi_regions[SCOREP_MPI_NUM_REGIONS];

/**
 * Register MPI functions and initialize data structures
 */
void scorep_mpi_register_regions( void )
{
  /* Define source file handle for MPI functions */
  SCOREP_SourceFileHandle file_id = SCOREP_Definitions_NewSourceFile("MPI");

#pragma wrapgen multiple restrict() skel/SCOREP_Mpi_RegC.w
}
