#include "SILC_Mpi.h"
#include "config.h"

/**
 * @file       SILC_Mpi_Type.c
 * @maintainer Daniel Lorenz <d.lorenz@fz-juelich.de>
 * @status     ALPHA
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for datatype functions
 */

/**
 * @name C wrappers for general functions
 * @{
 */

#pragma wrapgen multiple restrict(nMPI_Sizeof)        skel/SILC_Mpi_Std.w

#pragma wrapgen multiple restrict(gtype+!nMPI_Sizeof) skel/SILC_Mpi_Std.w

/**
 * @}
 * @name C wrappers for external interface functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_ext)          skel/SILC_Mpi_Std.w

/**
 * @}
 * @name C wrappers for handle conversion functions
 * @{
 */

#pragma wrapgen multiple restrict(gtype_misc+!n_c2f+!n_f2c) skel/SILC_Mpi_Std.w

/**
 * @}
 */
