#include "SILC_Mpi.h"
#include "config.h"

/**
 * @file  SILC_Mpi_Coll.c
 * @maintainer Daniel Lorenz <d.lorenz@fz-juelich.de>
 * @status     ALPHA
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for collective communication
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gcoll+!nReduce_local) skel/SILC_Mpi_Coll.w

#pragma wrapgen single MPI_Reduce_local skel/SILC_Mpi_Std.w
/**
 * @}
 */
