#include"SILC_Mpi.h"
#include "config.h"

/**
 * @file  SILC_Mpi_Ext.c
 *
 * @brief C interface wrappers for external interface functions
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gext+tint) skel/SILC_Mpi_Std.w

/**
 * @}
 */
