#include "SILC_Mpi.h"
#include "config.h"

/**
 * @file  SILC_Mpi_Misc.c
 *
 * @brief C interface wrappers for miscelaneous and handler conversion
 *        functions
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gmisc+!n_c2f+!n_f2c) skel/SILC_Mpi_Std.w

/**
 * @}
 */
