#include"SILC_Mpi.h"
#include "config.h"

/**
 * @file       SILC_Mpi_Ext.c
 * @maintainer Daniel Lorenz <d.lorenz@fz-juelich.de>
 * @status     ALPHA
 * @ingroup    MPI_Wrapper
 *
 * @brief C interface wrappers for external interface functions
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gext+tint) skel/SILC_Mpi_Std.w

/**
 * @}
 */
