#include "SILC_Mpi.h"
#include "config.h"

#define SILC_MPI_INVALID_RANK -1

/**
 * @file  SILC_Mpi_Coll.c
 *
 * @brief C interface wrappers for collective communication
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gcoll) skel/SILC_Mpi_Coll.w

/**
 * @}
 */
