#include "SILC_Mpi.h"
#include "config.h"

/**
 * @file  SILC_Mpi_Err.c
 *
 * @brief C interface wrappers for error handling
 */

/**
 * @name C wrappers
 * @{
 */

#pragma wrapgen multiple restrict(gerr) skel/SILC_Mpi_Std.w

/**
 * @}
 */
