/config-common.h
/config-backend.h.in
/config-backend-mpi.h.in
/config-frontend.h.in
/config-backend-for-frontend.h.in
/config-backend.h
/config-backend-mpi.h
/config-frontend.h
/config-backend-for-frontend.h
/config-backend-shmem.h.in
/config-backend-shmem.h
/config-score.h
/config-score.h.in
/config-gcc-plugin.h.in
/config-gcc-plugin.h
/scorep_config_tool_backend.h
/scorep_config_tool_mpi.h
/stamp-h*
/scorep_config_library_dependencies_inc.hpp
/scorep_config_library_dependencies_mpi_inc.hpp
