/** @page wrapperannex  MPI wrapper affiliation
@seclabel{wrapperannex}

Some wrapper functions are affiliated with a function group that has not
been described for direct user access in section @secref{mpi_groups}. These
groups are subgroups that contain function calls that are only enabled
when both main groups are enabled. The reason for this is to control the
amount of events generated during measurement, a user might want to turn
off the measurement of non-critical function calls before the measurement
of the complete main group is turned off.  Subgroups can either be
related to \p MISC (miscellaneous functions, e.g. handle conversion), \p
EXT (external interfaces, e.g. handle attributes), or \p ERR (error handlers).


For example, the functions in group \p CG_MISC will only generate events
if both groups \p CG and \p MISC are enabled at runtime. 
@section f2g Function to group

<table>
<tr><td><b>Function</b></td><td><b>Group</b></td></tr>
#pragma wrapgen multiple restrict() mpi_docs/SCOREP_Doc_FuncList.w
</table>

@section g2f Group to function

<table width="100%">
<tr><td width="10%"><b><b>CG</b></b> - 
<b>Communicators and Groups</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gcg) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>CG_ERR</b> - 
<b>Error handlers for
Communicators and Groups</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gcg_err) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>CG_EXT</b> - 
<b>External interfaces for
Communicators and Groups</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gcg_ext) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>CG_MISC</b> - 
<b>Miscellaneous functions for
Communicators and Groups</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gcg_misc) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>COLL</b> - 
<b>Collective communication</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gcoll) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>ENV</b> - 
<b>Environmental management</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(genv) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>ERR</b> - 
<b>Common error handlers</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gerr) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>EXT</b> - 
<b>Common external interfaces </b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gext) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>IO</b> - 
<b>Parallel I/O</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gio) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>IO_ERR</b> - 
<b>Error handlers for Parallel I/O</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gio_err) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>IO_MISC</b> - 
<b>Miscellaneous functions for Parallel I/O</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gio_misc) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>MISC</b> - 
<b>Miscellaneous functions</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gmisc) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>P2P</b> - 
<b>Point-to-point communication</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gp2p) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>PERF</b> - 
<b>Profiling Interface</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gperf) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>RMA</b> - 
<b>One-sided communication (Remote Memory Access)</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(grma) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>RMA_ERR</b> - 
<b>Error handlers for
One-sided communication (Remote Memory Access)</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(grma_err) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>RMA_EXT</b> - 
<b>External interfaces for
One-sided communication (Remote Memory Access)</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(grma_ext) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>RMA_MISC</b> - 
<b>Miscellaneous functions for
One-sided communication (Remote Memory Access)</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(grma_misc) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>SPAWN</b> - 
<b>Process spawning</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gspawn) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>TOPO</b> - 
<b>Topology (cartesian and graph) communicators</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gtopo) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>TYPE</b> - 
<b>Datatypes</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gtype) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>TYPE_EXT</b> - 
<b>External interfaces for
datatypes</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gtype_ext) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>

<table width="100%">
<tr><td width="10%"><b>TYPE_MISC</b> - 
<b>Miscellaneous functions for
datatypes</b>
</td></tr>
<tr><td>
#pragma wrapgen multiple restrict(gtype_misc) mpi_docs/SCOREP_Doc_GroupList.w
</td></tr>
</table>
*/
